* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
}

body{
  width:  100%;
  height: 100%;
  position: relative;
  font-family: $round;
}

.cardHighlight {
  min-height: 100%;
}

.loginCard {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
}

.register {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
}

.createProd {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
}

.prods {
  margin-top: 2rem;
  margin-bottom: 18rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  min-height: 1px;
  height: 15rem;
  width:  400px;
  overflow: inherit;
  animation: ease-in-out;
}

.prods:hover{
  transform: scale(1.1);
  box-shadow: inherit;
}

.prod {
  border:  1px;
  margin: 1rem;
  word-wrap: break-word;
}

.prodsTitle {
  text-align: justify-all;
}

.btn {
  display: flex;
  transition: 0.15s;
  border-radius: 3px;
}

.btn:hover{
  background: rgba(27, 156, 252, 0.1);
}

a{
  color:  #1B9CFC;
  text-decoration: none;
  font-weight: bold;
}